{% extends 'base.html' %}

{% block title %}Hamzawix - About{% endblock %}

{% block content %}
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{{ url_for('static', filename='img/hamza.png') }}" alt="Hamza">
					<h1>About Hamza!</h1>
					<p>Hello everybody. I'm Hamza Boughraira from Tunisia, I'm a Python/Django and IoT developer, a junior Linux administrator and a book writer.</p>
					<p>My career as a developer started four years ago, I wasn't a software developer at first, I was a hardware and embedded systems programmer and I've created many projects, including smart robots and so on, (you can check them <a href="{{ url_for('work') }}">here</a>). In the last two years, I focused on software development and more precisely on back-end web development, so I taught myself the Python programming language and the Django web framework, as well as relational database design and SQL, JavaScript and HTML, Node.js and Express.js and of course the Linux system administration.</p>
				
				</div>
			</div>
	    </div>
	</div>
	
	<div class="container pt">
		<div class="row mt centered">	
			<div class="col-lg-4">
				<span class="glyphicon glyphicon-book"></span>
				<p>Hamza Boughraira loves reading books about the IT field and programming.</p>
			</div>

			<div class="col-lg-4">
				<span class="glyphicon glyphicon-fire"></span>
				<p>Hamza Boughraira is a very enthusiastic man and when he sets a goal, he must achieve it.</p>
			</div>

			<div class="col-lg-4">
				<span class="glyphicon glyphicon-globe"></span>
				<p>Hamza Boughraira has a lot of ambitions that transcend the sea!</p>
			</div>
		</div>
		
		<div class="row mt">
			<div class="col-lg-12">
				<h4>SKILLS</h4>
				Python
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
					</div>
				</div>

				Django
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					</div>
				</div>
				
				Embedded Systems
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
					</div>
				</div>

				Linux
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">		
					</div>
				</div>

				JavaScript
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">		
					</div>
				</div>

				Relational Databases
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">		
					</div>
				</div>

				SQL
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">		
					</div>
				</div>
				
				HTML
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">		
					</div>
				</div>

				Node.js
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">		
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}