{% extends 'base.html' %}

{% block title %}Hamzawix - Home{% endblock %}

{% block content %}
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{{ url_for('static', filename='img/hamza.png') }}" alt="Hamza">
					<h1>Hi, I am Hamza!</h1>
					<p>Hello everybody. I'm Hamza Boughraira, the Python/Django and IoT developer!.</p>
					<p>Check my resume <a href="{{ url_for('about') }}"><strong>Here</strong></a></p>
				</div>
			</div>
	    </div> 
	</div>
{% endblock %}
