{% extends 'base.html' %}

{% block title %}Hamzawix - Projects{% endblock %}

{% block content %}
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h2>MY WORK</h2>
				<hr>
				<p>Don't tell people about you, show them who's you!</p>
			</div>
		</div>
		<div class="row mt centered">
		{% for p in projects %}
			<div class="col-lg-3">
				<a class="zoom green" href="{{ url_for('detail', id=p.id) }}"><img class="img-responsive" src="{{ url_for('static', filename=p.img_file) }}" alt="" /></a>
				<p>{{ p.title }}</p>
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}